@model Barebone.ViewModels.Shared.MenuItemViewModel

    <li class="nav-item">
        <a class="nav-link" href="@Model.Url">
            <span data-feather="file"></span>
            @Model.Name
        </a>
    </li>
